<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand font-weight-bold" href="{% url 'uvod' %}">Knihovna</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
        </ul>
        <form class="d-flex">
            {% if user.is_authenticated %}
            <h5 class="mx-5 my-2 my-sm-0">Uživatel: {{user}}</h5>
            <a class="btn btn-success my-2 my-sm-0" type="button" href="{% url "dashboard" %}">Dashboard</a>
            <a class="btn btn-info my-2 my-sm-0 mx-2" type="button" href="{% url "odhlaseni" %}" >Odhlásit</a>

            {% else %}
            <a class="btn btn-success my-2 my-sm-0" type="button" href="{% url "prihlaseni" %}">Přihlásit</a>
            <a class="btn btn-info my-2 my-sm-0" type="button" href="{% url "registrace" %}">Zaregistrovat</a>
            {% endif %}
        </form>
      </div>
    </div>
  </nav>